.mypy_cache
.DS_Store
.pytest_cache
coverage.xml
.tox
.coverage
htmlcov
*.egg-info
packages/open_aea
packages/valory/contracts/*
!packages/valory/contracts/erc20
packages/valory/protocols/
packages/valory/skills/
packages/valory/connections/*
!packages/valory/connections/twitter
leak_report
/Pipfile.lock
.env
keys.json
ethereum_private_key.txt
memeooorr
!packages/dvilela/agents/memeooorr
!packages/dvilela/services/memeooorr
packages/__pycache__/
packages/dvilela/connections/kv_store
packages/dvilela/connections/genai
packages/dvilela/protocols/kv_store
__pycache__/

.vscode/launch.json

memeooorr.db

TODO.md

tenderly_vnets.json

twikit_cookies.json

node_modules/

artifacts/

cache/

globals.json
